<div>
    <form action="/user/register" method="post" enctype="multipart/form-data">
        <label for="">Nome</label>
        <input type="text" name="nome" id="">
        <label for="">Email</label>
        <input type="text" name="email" id="">
        <label for="">Senha</label>
        <input type="password" name="senha" id="">
        <label for="">Confirma a sua senha</label>
        <input type="password" name="senha2" id="">
        <label for="">Foto do Usuario</label>
        <input type="file" name="image" id="">
        <button type="submit"></button>
    </form>
     
</div>

