<%- contentFor('body') %>

<div class="container-box">
  <header class="box">
<div class="logo">logo</div>
<nav>
<div class="menu">
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">NOvodades</a></li>
    <li><a href="">Sobre</a></li>
    <li><a href="">Contactos</a></li>
  </ul>
</div>
</nav>
<div class="login">
  
</div>
  </header>
  
  <main class="box">
    <div class="image">
      <img src="../public/imagens/user/1662495267462_1-p-s-lote-Naruto-Sharingan-Shippuuden-olhos-logotipo-pingente-de-colar-de-corrente-de-prata.jpg_640x640.jpg" alt="" srcset="" >
    </div>
    <div class="nome">João Carlos</div>

    <div class="icons">
      <img src="../public/imagens/user/1662495727193_65000.png" alt="" >
      <img src="../public/imagens/user/1662495727193_65000.png" alt="" >
      <img src="../public/imagens/user/1662495727193_65000.png" alt="" >
    </div>
    
  </main>
  <aside>
    Aside
  </aside>
  <footer class="box">footer</footer>
</div>